%div.select-file-page(ng-controller="FilesCtrl")
  %div.row
    %div.buttons-row(class="col-md-8 col-md-offset-2")
      %input#file-uploader(type="file" nv-file-select uploader="uploader" multiple)
      %button.btn.btn-primary(ng-click="uploadFile()") Choose From Computer
      %button.btn.btn-primary(ng-click="openUploadFromUrl()") Choose From Url
      %dropbox-chooser
      %google-drive-chooser
  %div.row
    %div(class="col-md-8 col-md-offset-2" style="text-align: center;")
      %h3 or drag & drop files on this zone

  %div.row
    %div(class="col-md-8 col-md-offset-2 drag-drop" nv-file-drop uploader="uploader")
      %div.file-table(ng-repeat="item in uploader.queue")
        %div.file-table-cell.filename
          {{ item.file.name }}
        %div.file-table-cell.type
          {{ item.file.type | cut:true:40:'...' }}
        %div.file-table-cell.size
          {{ item.file.size | bytes }}
        %div.file-table-cell.select-format(ng-show="item.file.extensions")
          %select.form-control(ng-model="item.file.extension_to" ng-options="format for format in item.file.extensions")
        %div.file-table-cell.status(ng-show="item.file.status")
          {{ item.file.status }}
        %div.file-table-cell.download-action(ng-show="item.file.download_url")
          %a.btn.btn-success(href="{{item.file.download_url}}") Download
        %div.file-table-cell.remove-action
          %span(class="fa fa-times cursor-pointer" aria-hidden="true" ng-click="uploader.removeFromQueue(item)")
    %div(class="col-md-2 col-md-offset-5")
      %button.btn.btn-danger.convert-button(ng-click="uploader.uploadAll()" ng-hide="uploader.queue.length == 0" ng-disabled="uploader.queue.length == 0") Convert All
