.file-table {
  display: table;
  width: 100%;
  padding: 8px 10px;
  border-bottom: solid #d9d9d9 1px;
}

.file-table-cell {
  display: table-cell;
  overflow: hidden;
  height: 25px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;

  &.filename {
    width: 40%;
    min-width: 90px;
    white-space: nowrap;
    padding: 5px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
  }

  &.type {
    min-width: 90px;
    max-width: 100px;
    width: 100px;
    white-space: nowrap;
  }

  &.size {
    width: 50px;
  }

  &.status {
    width: 30px;
    text-align: center;
  }

  &.download-action {
    padding-left: 10px;
    text-align: right;
    width: 93px;
  }

  &.remove-action {
    text-align: right;
    width: 15px;
  }
}

.text {
  font-weight: bold;
  vertical-align: middle;
  padding: 2px 3px;
  margin-right: 5px;
  font-size: 9px;
  text-transform: uppercase;

  &.ready {
    border: solid 1px #277a9d;
    color: #277a9d;
  }

  &.error {
    border: solid 1px red;
    color: red;
  }

  &.uploaded, &.uploading {
    border: solid 1px #eda652;
    color: #eda652;
  }

  &.converted {
    border: solid 1px #279d6a;
    color: #279d6a;
  }
}
